@media screen and (min-width: 200px) and (max-width: 1000px) {
    .sidebar{
        position: fixed;
        width: 60%;
        height: 100%;
        z-index: 99;
        background-color: var(--primary-color);
        box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
        transform: translateX(-100%);
        transition: transform 0.5s ease;
    }

    .sidebar.sidebar-wrapper{
        transform: translateX(0%);
        transition: transform 0.5s ease;
    }

    .logo-content{
        position: relative;
        display: flex;
        align-items: center;
        padding: 15px;
        width: 100%;
        height: 10%;
    
        .logo-title{
            font-size: 1.5rem;
            margin: 0px 10px;
        }
    
        .logo{
            width: 15%;
        }

        .btn-close-sidebar{
            position: absolute;
            right: 0.938rem;
        }
    }

    .sidebar-content{
        display: flex;
        flex-direction: column;
        margin: 1rem 0px;
    }
}

@media screen and (min-width: 1000px) {
    .sidebar{
        overflow: auto;
        grid-row: 1 / -1;
        /* box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2); */
        background-color: var(--primary-color);
    }

    .sidebar.sidebar-wrapper .sidebar-item span{
        position: absolute;
        left: 2.5rem;
        opacity: 0;
        padding: 0.625rem 0.938rem;
        border-radius: .250rem;
        background-color: var(--primary-color);
    }
    
    .sidebar.sidebar-wrapper .sidebar-item:hover span{
        z-index: 99;
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }

    .logo-content{
        display: flex;
        align-items: center;
        height: 10%;
        padding: 0.938rem;
    
        .logo-title{
            font-size: 1.5rem;
            margin: 0px 15px;
        }
    
        .logo{
            width: 1.875rem;
        }

        .btn-close-sidebar{
            display: none;
        }
    }

    .sidebar-content{
        display: flex;
        flex-direction: column;
        margin: 1.875rem 0px;
    }
}

.sidebar-item{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0.625rem 1.25rem;
    transition: background .3s ease;
}

.sidebar-item:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: background .3s ease;
}

.sidebar-item .arrow-icon{
    position: absolute;
    right: 20px;
}

.sidebar-item i{
    font-size: 20px;
}

.sidebar-item span{
    margin-left: 20px;
}