.btn{
    background-color: var(--secondary-color);
    cursor: pointer;
    padding: .5rem .75rem;
    border: 1px solid var(--btn-border-color);
    border-radius: var(--radius-secondary);
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .15);
    transition: box-shadow .3s ease-in-out;
}

.btn:focus {
    box-shadow: 0 0 0 .1rem rgba(0, 158, 255, .5);
}

.btn-primary {
    --btn-border-color: var(--btn-primary-color);
    color: white;
    background-color: var(--btn-primary-color);
}

.btn-primary:focus {
    background-color: #434343;
}

.btn-secondary {
    --btn-border-color: white;
    background-color: white;
}

.btn-secondary:focus {
    background-color: #EFEFEF;
}

.cursor__pointer{
    cursor: pointer;
}

.margin__1{
    margin: 1rem 0;
}

.margin__top__1{
    margin-top: 1rem;
}

.form__input {
    appearance: none;
    padding: .375rem .75rem;
    font-family: system-ui;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid var(--border-color);
    border-radius: var(--radius-secondary);
    outline: none;
    width: 100%;
    margin: .5rem 0;
    transition: box-shadow .3s ease-in-out;
}

.form__input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.form__input:focus {
    box-shadow: 0 0 0 .1rem rgba(0, 158, 255, .5);
}

h3 {
    font-family: system-ui;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: .25rem 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.mr-1 {
    margin-right: .5rem;
}